<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="modal-add-serie">
        <div class="modal fade" tabindex="-1" id="modalAddSerie" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Añadir Serie" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title">Añadir serie</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="m-3">
                            <form class="text-white" action="">
                                <div class="mb-3 row mb-md-4">
                                    <label for="inputName" class="col-2 col-form-label">Nombre</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="inputName">
                                    </div>
                                </div>

                                <div class="mb-3 row mb-4">
                                    <label for="inputImg" class="col-2 col-form-label">Carátula</label>
                                    <div class="col-10">
                                        <input class="form-control" type="file" id="inputImg">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <legend class="col-form-label col-2 pt-0">Géneros</legend>
                                    <div class="col-9 ms-3">
                                        <div class="row row-cols-2 row-cols-md-3 gy-2 gy-md-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkTerror">
                                                <label class="form-check-label" for="checkTerror">
                                                    Terror
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkAccion">
                                                <label class="form-check-label" for="checkAccion">
                                                    Acción
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkAdventure">
                                                <label class="form-check-label" for="checkAdventure">
                                                    Aventura
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkComedic">
                                                <label class="form-check-label" for="checkComedic">
                                                    Comedia
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkDrama">
                                                <label class="form-check-label" for="checkDrama">
                                                    Drama
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkRomance">
                                                <label class="form-check-label" for="checkRomance">
                                                    Romance
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 row mb-4">
                                    <label for="textAreaDescription" class="col-2 form-label">Descripción</label>
                                    <div class="ms-1 ms-sm-0 col-9 col-sm-10">
                                        <textarea class="form-control" id="textAreaDescription" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="offset-md-8 offset-xl-9">
                                    <input class="btn btn-primary col-12" type="submit" value="Guardar Programa">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>