<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="modal-add-season">
    <div class="modal fade" th:attr="id=modalAddSeason"  tabindex="-1" id="modalAddSeason" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Añadir Temporada" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir Temporada</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/serie/{id}/season/ (id=${serie.id})}"
                          th:object="${season}"
                          th:method="post"
                          class="bg-dark text-white">

                        <p>¿Quiere añadir una temporada vacía para la serie "<span th:text="${serie.name}"></span>" ?</p>

                        <input type="hidden" th:value="${serie.id}" name="id"/>

                        <input type="submit" class="btn btn-primary mt-3" value="Confirmar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>