<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="modal-add-film">
    <div class="modal fade" tabindex="-1" id="modalAddFilm" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Añadir Película" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir Película</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="m-3">
                        <form class="text-white" th:action="@{/film/add-film}" th:object="${newFilm}"
                        id="formAddFilm"
                              action="#" method="post" enctype="multipart/form-data">
                            <div class="mb-3 row mb-md-4">
                                <label for="inputName" class="col-2 col-form-label">Nombre</label>
                                <div class="col-10">
                                    <input th:field="*{name}" type="text" class="form-control" id="inputName">
                                    <p class="mensajeError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                </div>
                            </div>

                            <div class="mb-3 row mb-4">
                                <label for="inputImg" class="col-2 col-form-label">Imagen</label>
                                <div class="col-10">
                                    <input th:field="*{img}" class="form-control" accept="image/*" type="file" id="inputImg">
                                </div>
                                <p class="offset-2 mensajeError" th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></p>
                            </div>


                            <div class="mb-3 row mb-4">
                                <label for="textAreaDescription" class="col-2 form-label">Descripción</label>
                                <div class="ms-1 ms-sm-0 col-9 col-sm-10">
                                    <textarea th:field="*{description}"  class="form-control" id="textAreaDescription" rows="3"></textarea>
                                    <p class="mensajeError" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <legend class="col-form-label col-2 pt-0">Géneros</legend>
                                <div class="col-9 ms-3">
                                    <div class="row row-cols-2 row-cols-md-3 gy-2 gy-md-3">
                                        <div class="form-check" th:each="genre : ${listGenres}">
                                            <input class="form-check-input" type="checkbox" th:id="${'check' + genre.name}" th:value="${genre.name}" th:field="*{genres}"/>
                                            <label class="form-check-label" th:for="${'check' + genre.name}" th:text="${genre.name}"></label>
                                        </div>
                                    </div>
                                </div>
                                <p class="offset-2 mensajeError" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></p>
                            </div>


                            <div class="mb-3 row mb-4">
                                <label for="inputVideo" class="col-2 col-form-label">Video</label>
                                <div class="col-10">
                                    <input th:field="*{url}" class="form-control" type="file" id="inputVideo">
                                </div>
                                <p class="offset-2 mensajeError" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
                                <input type="hidden" id="inputDuration" th:field="*{duration}">
                            </div>

                            <div class="offset-md-8 offset-xl-9">
                                <input class="btn btn-primary col-12" type="submit" value="Guardar Programa">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>