<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="modal-edit-film">
        <div class="modal fade" tabindex="-1"
             th:attr="id='modalEditFilm'+${film.id}" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Editar Pelicula" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Pelicula</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="m-3">
                            <form class="text-white"  action="#" th:action="@{/film/edit-film}" th:object="${film.editFilm}"
                                    method="post" enctype="multipart/form-data">
                                <div class="mb-3 row mb-md-4">
                                    <label th:for="${'inputName' + film.id}" class="col-2 col-form-label">Nombre</label>
                                    <div class="col-10">
                                        <input type="text" th:name="name" th:value="${film.name}" class="form-control" th:id="${'inputName' + film.id}">
                                        <input type="hidden" th:name="id" th:value="${film.id}">
                                    </div>
                                </div>

                                <div class="mb-3 row mb-4">
                                    <label th:for="${'textAreaSinopsis' + film.id}" class="col-2 form-label">Descripción</label>
                                    <div class="ms-1 ms-sm-0 col-9 col-sm-10">
                                        <textarea class="form-control" th:name="description" th:text="${film.description}" th:id="${'textAreaSinopsis' + film.id}" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <legend class="col-form-label col-2 pt-0">Géneros</legend>
                                    <div class="col-9 ms-3">
                                        <div class="row row-cols-2 row-cols-md-3 gy-2 gy-md-3">
                                            <div class="form-check" th:each="genre, currentGenre : ${listGenres}">

                                                <input class="form-check-input" type="checkbox"
                                                       th:id="${'check' + genre.name + film.id}"
                                                       th:checked="${film.genres.contains(genre)}"
                                                       th:value="${genre.name}"
                                                       th:attr="aria-checked=${film.genres.contains(genre) ? 'true' : 'false'}"
                                                       name="genres"/>

                                                <label class="form-check-label" th:for="${'check' + genre.name + film.id}" th:text="${genre.name}"></label>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-3 row mb-4 align-items-center">
                                    <label th:for="inputImg+${film.id}" class="col-2 col-form-label">Imagen</label>
                                    <div class="col-10">

                                        <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
                                           th:if="${film.img != ''}"
                                           th:id="editImg+${film.id}" href="#"
                                           th:text="${film.img}"
                                            th:attr="aria-label='Introducir imagen para la película: ' + ${film.name} + ', dirección de enlace: ' + ${film.img}"></a>

                                        <div th:id="divChooseImg+${film.id}" >
                                            <input class="form-control" type="file" th:name="img" title="Elegir archivo de imagen">
                                            <button class="btn btn-light mt-2"
                                                    th:if="${film.img != '' && film.img != null}"
                                                    th:id="btnCancelImg+${film.id}"
                                                    aria-label="Cancelar archivo de imagen" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 row mb-4 align-items-center">
                                    <label th:for="inputVideo+${film.id}" class="col-2 col-form-label">Video</label>
                                    <div class="col-10">
                                        <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
                                           th:id="editVideo+${film.id}" href="#"
                                           th:if="${film.url != ''}"
                                           th:text="${film.url}"
                                           th:attr="aria-label='Introducir video para la película: ' + ${film.name} + ', dirección de enlace: ' + ${film.url}"></a>
                                        <div th:id="divChooseVideo+${film.id}">
                                            <input class="form-control" type="file" th:name="url" title="Elegir archivo de video">
                                            <button class="btn btn-light mt-2"
                                                    th:if="${film.url != '' && film.url != null}"
                                                    th:id="btnCancelVideo+${film.id}"
                                                    aria-label="Cancelar archivo de video" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="offset-md-8 offset-xl-9">
                                    <input class="btn btn-primary col-12" type="submit" value="Guardar Película">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>