<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AYS</title>

        <!-- BOOTSTRAP -->
        <!-- link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <link rel="stylesheet" href="/css/admin/general.css">
    </head>
    <body>

        <header class="sticky-top m-auto mb-2 headerAdmin" th:fragment="header-admin">
            <nav class="navbar flex-row px-2">
                <div class="m-1">
                    <a class="d-flex flex-column flex-sm-row logoHeader text-decoration-none"
                       href="/v/principal/content">
                        <div class="cajaImagen m-auto m-md-1 me-md-0" aria-label="Logo">
                            <span class="imgLogo"></span>
                            <span class="imgLogoHover" aria-hidden="true"></span>
                        </div>
                        <span class="m-auto ms-sm-1">Todo lo que puedas ver y más</span>
                    </a>
                </div>

                <ul class="list-inline">
                    <li class="list-inline-item nav-item me-4 pe-4 me-md-5 pe-md-5">
                        <div class="dropdown text-center">
                            <button class="btn btnLogin dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <figure class="figure m-0">
                                    <img class="figure-img rounded-circle m-0 p-1" src="https://images.unsplash.com/photo-1452570053594-1b985d6ea890?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                                </figure>
                            </button>
                            <ul class="dropdown-menu dropdownLogin">
                                <li><a class="dropdown-item" href="/user/v/configuration">Ajustes</a></li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

            <nav class="navbar px-2 border-bottom border-light">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="">Series</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="">Películas</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container-fluid col-12">
            <main class="m-auto" layout:fragment="main-content">
                <!-- AQUI SE IRÁ INSERTANDO EL CONTENIDO DE LOS DISTINTOS LAYOUT QUE USEN ESTE TEMPLATE -->
            </main>
        </div>

        <footer class="text-center pb-4">
            <ul class="list-inline d-flex justify-content-around text-center text-sm-start flex-column flex-sm-row mt-2">
                <li>
                    <a class="nav-link mb-2 mb-sm-0 enlacesFooter" href="">Términos de uso</a>
                </li>
                <li>
                    <a class="nav-link mb-2 mb-sm-0 enlacesFooter" href="">Política de cookies</a>
                </li>
                <li>
                    <a class="nav-link mb-2 mb-sm-0 enlacesFooter" href="">Ayuda</a>
                </li>
            </ul>
        </footer>
    </body>
</html>


