<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template-admin}"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" href="/css/admin/administration-content.css">

        <!-- Script Tabla -->
        <script src="/script/fancyTable.js"></script>

    </head>
    <body>
        <main class="m-auto" layout:fragment="main-content">

            <div class="text-light border-bottom d-flex mb-3 p-2">
                <div class="col-6">
                    <h4 class="text-light mt-1">Usuarios en la plataforma</h4>
                </div>
<!--                <div class="col-6 text-end">-->
<!--                    <button class="btn btn-primary" href="#"-->
<!--                       data-bs-toggle="modal"-->
<!--                       data-bs-target="#modalAddFilm">Agregar película</button>-->
<!--                </div>-->

<!--                <div th:insert="admin/add-film.html :: modal-add-film"></div>-->
            </div>


            <div class="table-responsive">
                <table class="table table-hover tableProgram">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Img</th>
                        <th scope="col">Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${listUsers}">
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.img}"></td>
                            <td th:text="${user.img}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".tableProgram").fancyTable({
                        sortColumn:0, // column number for initial sorting
                        sortOrder: 'descending',
                        sortable: true,
                        pagination: true, // default: false
                        paginationClass:"btn btn-light",
                        perPage: 5,
                        searchable: true,
                        globalSearch: true, // Busqueda todas las colum
                        inputPlaceholder:"Buscar...",
                        matchCase:false // Distingir mayus
                    });
                });
            </script>
        </main>
    </body>
</html>