<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="modal-card-changed">
    <div class="modal fade" tabindex="-1" id="modalCardChanged" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Tarjeta cambiada con éxito" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content bg-dark text-white text-start">
                <div class="modal-header">
                    <h5 class="modal-title">Tarjeta cambiada</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="m-3 text-white">
                        <div class="mb-3 row align-items-center">
                            <p class="m-0 p-0">¡Tarjeta cambiada con éxito!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>