<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="modal-change-card">
    <div class="modal fade" tabindex="-1" id="modalChangeCard" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="Editar tarjeta de crédito" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content bg-dark text-white text-start">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Tarjeta</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="m-3">
                        <form class="text-white" th:action="@{/user/configuration/card}" th:object="${userConfigurationCard}"
                              method="post">

                            <div class="mb-3 row align-items-center">
                                <label for="inputUserEdit" class="col-sm-2 col-form-label">Titular de la tarjeta</label>
                                <div class="col-sm-10">
                                    <input class="form-control" th:field="*{cardUser}" th:value="${userConfigurationCard.cardUser}" type="text" id="inputUserEdit">
                                    <span class="mensajeError" th:if="${#fields.hasErrors('cardUser')}" th:errors="*{cardUser}"></span>
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label for="inputNumCardEdit" class="col-sm-2 col-form-label">Número de la tarjeta</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{cardNumber}" th:value="${userConfigurationCard.cardNumber}"  class="form-control" id="inputNumCardEdit">
                                    <span class="mensajeError" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"></span>
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label for="inputCvvEdit" class="col-sm-2 col-form-label">Cvv</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{cvv}" th:value="${userConfigurationCard.cvv}" class="form-control" id="inputCvvEdit">
                                    <span class="mensajeError" th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}"></span>
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label for="inputExpirationDateCardEdit" class="col-sm-2 col-form-label">Fecha Caducidad</label>
                                <div class="col-sm-10">
                                    <input th:field="*{expirationDate}"
                                           th:value="${userConfigurationCard.expirationDate}"
                                           type="date" class="form-control"
                                           th:attr="data-date=${userConfigurationCard.expirationDate}"
                                           id="inputExpirationDateCardEdit">
                                    <span class="mensajeError" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
                                </div>
                            </div>

                            <div class="offset-md-8 offset-xl-9">
                                <input class="btn btn-primary col-12" type="submit" value="Guardar Cambios">
                            </div>
                            <script>
                                var date = document.getElementById("inputExpirationDateCardEdit").getAttribute("data-date");
                                document.getElementById("inputExpirationDateCardEdit").value = date;
                            </script>
                            <script th:inline="javascript" th:if="${#fields.hasErrors('*')}">
                                $( document ).ready(function() {
                                    $("#modalChangeCard").modal("show");
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>