<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AYS - Configuración</title>
    <script src="/script/jquery.validate.js"></script>
</head>
<body>
    <main layout:fragment="main-content">
        <div class="m-3">
            <form id="formPassDate" class="text-white" th:action="@{/user/configuration}" th:object="${userConfiguration}"
                  method="post" enctype="multipart/form-data">
                <h3 class="border-bottom"
                     th:text="${userInfo.name != null ? 'Detalles de la cuenta ' + userInfo.name : 'Detalles de la cuenta ' + userInfo.email}"></h3>

                <div class="mb-3 row">
                    <label for="staticEmail" class="col-2 col-form-label">Correo</label>
                    <div class="col-5">
                        <input type="text" readonly class="form-control-plaintext text-white" id="staticEmail"
                               th:value="${userInfo.email}">
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input th:value="${userInfo.name}"
                               th:name="name"
                               type="text" class="form-control"
                               id="inputName">
                    </div>
                    <span class="offset-2 mt-4 mensajeError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="mb-3 row align-items-center">
                    <label for="inputLastname" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-10">
                        <input th:value="${userInfo.lastName}"
                               th:name="lastName"
                               type="text" class="form-control"
                               id="inputLastName">
                    </div>
                    <span class="offset-2 mt-4 mensajeError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>

                <div class="mb-3 row align-items-center">
                    <label th:for="inputImg" class="col-2 col-form-label">Imagen</label>
                    <div class="col-10">
                        <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
                           th:if="${userInfo.img != ''}"
                           th:id="editImg" href="#"
                           th:text="${userInfo.img}"
                           aria-label="Introducir imagen para la foto de perfil del usuario"></a>

                        <div th:id="divChooseImg" >
                            <input class="form-control" type="file" th:name="img" title="Elegir archivo de imagen">
                            <button class="btn btn-light mt-2"
                                    th:if="${userInfo.img != '' && userInfo.img != null}"
                                    th:id="btnCancelImg"
                                    aria-label="Cancelar archivo de imagen" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label for="inputBirthDate" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                    <div class="col-sm-10">
                        <input th:field="*{dateBirth}"
                               th:value="${userInfo.dateBirth}"
                               type="date" class="form-control"
                               th:attr="data-date=${userInfo.dateBirth}"
                               id="inputBirthDate">

                    </div>
                    <span class="offset-2 mt-4 mensajeError"></span>
                </div>
                <div class="my-5 text-end">
                    <input class="col-12 col-md-5 col-xl-3 btn btn-primary" id="btnSubmitDate" type="submit" value="Guardar Cambios">
                    <div th:insert="user/date-changed.html :: modal-date-changed"></div>
                </div>
            </form>
            <form class="text-white" id="formChangePass" th:action="@{/user/changePass}" th:object="${userPass}"
                  method="post">
                <div class="mt-1 text-end">
                    <button class="btn btn-link link-primary text-decoration-none"
                            data-bs-toggle="modal"
                            data-bs-target="#modalChangePass"
                            type="button">Cambiar contraseña
                    </button>

                    <div th:insert="user/change-pass.html :: modal-change-pass"></div>
                    <div th:insert="user/pass-changed.html :: modal-pass-changed"></div>
                </div>
                <script th:inline="javascript" th:if="${#fields.hasErrors('*')}">
                    $( document ).ready(function() {
                        $("#modalChangePass").modal("show");
                    });
                </script>
                <script th:inline="javascript" th:if="${!#fields.hasErrors('*') && PassChange != null}">
                    $( document ).ready(function() {
                        $("#modalPassChanged").modal("show");
                    });
                </script>
            </form>
            <div class="text-light">
                <h3 class="border-bottom">Tarjeta de crédito</h3>
                <div class="mb-3 row align-items-center">
                    <label for="inputNumCard" class="col-sm-2 col-form-label">Número de la tarjeta</label>
                    <div class="col-sm-10">
<!--                        <input type="text" readonly th:value="${#strings.repeat('*', userInfo.card.cardNumber.length() - 3)} + ${userInfo.card.cardNumber.substring(userInfo.card.cardNumber.length() - 3)}"-->
<!--                               class="form-control-plaintext text-white" id="inputNumCard">-->

                        <input type="text" readonly th:value="${'*****' + #strings.substring(userInfo.card.cardNumber, #strings.length(userInfo.card.cardNumber)-3, #strings.length(userInfo.card.cardNumber))}"
                           class="form-control-plaintext text-white" id="inputNumCard">
                    </div>
                </div>
            </div>

            <div class="my-5 text-end">
                <button type="button" class="col-12 col-md-5 col-xl-3 btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalChangeCard">Cambiar Tarjeta</button>

                <div th:insert="user/change-card.html :: modal-change-card"></div>
            </div>
            <form class="text-white" th:action="@{/user/delete}" method="post">
                <h5 class="border-bottom"></h5>
                <div class="mt-3 text-end">
                    <button type="button"
                            class="btn btn-link link-danger text-decoration-none"
                            data-bs-toggle="modal"
                            data-bs-target="#modalDeleteUser">Eliminar cuenta de usuario</button>

                    <div th:insert="user/delete-user.html :: modal-delete-user"></div>
                </div>

            </form>
            <script>
                if ($("#editImg").text().length > 0) {
                    $("#divChooseImg").hide();
                    $("#editImg").on("click", function() {
                        $("#divChooseImg").show();
                        $("#editImg").hide();
                    });
                    $("#btnCancelImg").on("click", function() {
                        $("#divChooseImg input").val("");
                        $("#divChooseImg").hide();
                        $("#editImg").show();
                    });
                }


                var date = document.getElementById("inputBirthDate").getAttribute("data-date");
                document.getElementById("inputBirthDate").value = date;

                $.validator.addMethod("fechaValida", function(value, element) {
                    var fechaIntroducida = new Date(value);
                    var fechaActual = new Date();

                    // Calcular la diferencia en milisegundos entre las fechas
<!--                    var diferenciaMilisegundos = fechaActual.getTime() - fechaIntroducida.getTime();-->

                    // Convierte 18 años en milisegundos
<!--                    var dieciochoAniosEnMilisegundos = 18 * 365 * 24 * 60 * 60 * 1000;-->

                    // Verificar si la diferencia es mayor o igual a 18 años
<!--                    return diferenciaMilisegundos >= dieciochoAniosEnMilisegundos;-->
                    return fechaIntroducida < fechaActual;
                });


                $(document).ready(function(){
                    // Inicializa el formulario de la fecha
                    $("#formPassDate").validate({
                        rules: {
                            dateBirth: {
                              required: true,
                              fechaValida: true
                            }
                        },
                        messages: {
                            dateBirth: {
                              required: "Por favor introduce una fecha",
                              fechaValida: "La fecha introducida no es válida, no se admiten usuarios menores de edad"
                            }
                        },
                        errorPlacement: function(error, element) {
                            $(".mensajeError").html(error);
                        },
                        submitHandler: function(form) {
                            // Detiene el envío automático del formulario
                            event.preventDefault();

                            $("#modalDateChanged").modal("show");

                            $("#modalDateChanged").on("hidden.bs.modal", function () {
                                form.submit();
                            });
                        }
                    });
                });
            </script>
        </div>
    </main>
</body>
</html>
