<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/program/gallery.css">
        <title>AYS - Películas</title>
    </head>
    <body>
        <main layout:fragment="main-content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item " aria-current="page">
                        <a class="linkBreadcrumb" href="/user/v/principal/content"
                           aria-label="Inicio" title="Inicio">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active text-white" aria-current="page">Películas</li>
                </ol>
            </nav>

            <h2 class="text-white">Películas</h2>

            <div class="containerProgram m-3 mt-4 pt-2 border-top border-top-light"
                 th:each="genre : ${listGenres}">
                <h3 class="text-white" th:text="${genre.name}"></h3>
                <div class="boxProgram pt-2 row row-cols-1 d-flex">
                    <div th:each="film : ${listFilms}"
                         th:if="${film.genres.contains(genre)}" class="cardProgram text-white">
                        <a class="linkProgram" href="#" th:href="@{/user/v/film/{idFilm}/description(idFilm=${film.id})}">
                            <figure class="imgProgram figure m-0 w-100">
                                <img class="figure-img img-fluid" src="https://m.media-amazon.com/images/M/MV5BN2E5NDA0ODAtNTFjYS00OTQ0LTkxZTEtZDlhN2Y4OGY4MDEzXkEyXkFqcGdeQXVyMjAxNTI3OTQ@._V1_QL75_UY207_CR3" th:alt="${film.name}">
                                <div class="textProgramHover">
                                    <h3 th:text="${film.name}"></h3>
                                    <p th:text="${film.description}"></p>
                                </div>
                            </figure>
                        </a>
                        <h3 class="titleProgram text-center" th:text="${film.name}"></h3>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>