<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/program/description.css">
        <title th:text="'AYS - ' + ${film.name}"></title>
    </head>
    <body>
        <main layout:fragment="main-content">
            <nav style="--bs-breadcrumb-divider: '>';" id="breadcrumbNoPrint" aria-label="breadcrumb" class="text-white">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="linkBreadcrumb" href="/user/v/principal/content" aria-label="Inicio" title="Inicio">Inicio</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="linkBreadcrumb" href="/user/v/films" aria-label="Todas las Películas" title="Películas">Películas</a>
                    </li>
                    <li th:text="${film.name}" class="breadcrumb-item active text-light" aria-current="page"></li>
                </ol>
            </nav>

            <div id="descriptionContainer">
                <div class="descriptionBox text-white d-flex m-auto">
                    <figure class="imgDescription figure m-0">
                        <!--                    <img class="figure-img img-fluid" th:src="@{${film.img}}" th:alt="${film.name}">-->
                        <img class="figure-img img-fluid"
                             th:src="@{/media/img/{filmName}/{imgFilm}(filmName=${film.name}, imgFilm=${film.img})}"
                             th:alt="${film.name}">
                    </figure>
                    <div class="descriptionInfo">
                        <h2 class="border-bottom h3" th:text="${film.name}"></h2>
                        <a id="btnLikeProgram" href=""
                           th:classappend="${!isLiked} ? text-danger">
                            <span th:if="${isLiked}" class="text-danger">
                               <i class="bi bi-heart-fill"></i>
                            </span>
                            <span th:if="${!isLiked}" class="text-light">
                                 <i class="bi bi-heart"></i>
                            </span>
                        </a>
                        <div class="textDescription">
                            <p class="mb-3">Género:
                                <span th:each="genre, actualGenre : ${film.genres}">
                                    <span th:text="${genre.name}"></span>
                                    <span th:if="${!actualGenre.last}">, </span>
                                    <!-- Agregar coma si no es el último género -->
                                </span>
                            </p>
                            <p th:text="${film.description}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="logoPrint text-center">
                <figure class="figure">
                    <img class="figure-img img-fluid" src="/img/LogoNegro.png" alt="Logo">
                </figure>
            </div>

            <div id="recommendedPrograms"
                 th:if="${not #lists.isEmpty(recommendedFilm)}">
                <h3 class="text-light">Recomendaciones</h3>
                <div class="episodeContainer row row-cols-1 d-flex">
                    <div th:each="filmRecommended : ${recommendedFilm}" class="cardEpisode">
                        <a class="linkEpisode keepWatchingProgram text-decoration-none"
                           th:href="@{/user/v/film/{idFilm}/description(idFilm=${filmRecommended.id})}">
                            <div class="boxImgEpisode position-relative">
                                <figure class="imgEpisode figure m-0 w-100">
                                    <img class="figure-img w-100" th:src="@{/media/img/{filmName}/{imgFilm}(filmName=${filmRecommended.name}, imgFilm=${filmRecommended.img})}" th:alt="${filmRecommended.name}">
                                </figure>
                            </div>
                            <div class="textLinkEpisode">
                                <h3 th:text="${filmRecommended.name}"></h3>
                                <p th:text="${filmRecommended.description}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {

                    $("#descriptionContainer").on("click", "#btnLikeProgram", function (e) {
                        e.preventDefault();
                        var isLikedFilm = $("#btnLikeProgram").hasClass("text-danger");
                        loadLiked(isLikedFilm);
                    });
                });

                function loadLiked(isLiked) {
                    var idFilm = [(${film.id})];
                    $.ajax({
                        type: "GET",
                        url: "/user/v/film/" + idFilm + "/description/" + isLiked,
                        success: function (data) {
                            $("#descriptionContainer").html(data);
                        },
                        error: function (error) {
                            console.log("Error al cargar el 'le gusta': " + error);
                        }
                    });
                }
            </script>

        </main>
    </body>
</html>