<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
    <head>
        <link rel="stylesheet" href="/css/user/not-loggin.css">
    </head>
    <body>
        <main layout:fragment="main-content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item active text-white" aria-current="page">Inicio</li>
                </ol>
            </nav>
            <div class="cajaCartelera mb-5">
                <figure class="figure m-auto w-100">
                    <img class="figure-img w-100" src="/img/SeriesyPelis.jpg" alt="">
                </figure>
                <div class="cartelera">
                    <h2>Gran variedad de series y películas</h2>
                    <p class="m-0">Suscríbete ahora para poder disfrutar de todo el contenido.</p>
                    <p class="m-0">Empieza la prueba de un mes gratuito <a class="enlacesAzules" href="">¿Eres estudiante?</a> </p>
                </div>
            </div>

            <div class="cajaCuentaCompartida text-white text-center">
                <h2>Disfruta con amigos</h2>
                <p>Aprovecha la opción de <a class="enlacesAzules" href="">cuenta compartida</a> para ver series con amigos.</p>
            </div>

            <div class="contenedorCirculos mb-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                    <div class="cajaCirculos col">
                        <div class="bordeIcono rounded-circle">
                            <i class="bi bi-emoji-laughing"></i>
                        </div>
                        <h3>Entretenimiento</h3>
                        <span>Numerosas series y películas de varios géneros</span>
                    </div>
                    <div class="cajaCirculos col">
                        <div class="bordeIcono rounded-circle">
                            <i class="bi bi-display"></i>
                        </div>
                        <h3>Donde quieras</h3>
                        <span>Disfruta en Tablet, PC, Iphone, etc.</span>
                    </div>
                    <div class="cajaCirculos col">
                        <div class="bordeIcono rounded-circle">
                            <i class="bi bi-cloud-arrow-down"></i>
                        </div>
                        <h3>Descarga ilimitada</h3>
                        <span>Descarga todas las series y películas que te apetezcan</span>
                    </div>
                    <div class="cajaCirculos col">
                        <div class="bordeIcono rounded-circle">
                            <i class="bi bi-list-ol"></i>
                        </div>
                        <h3>Listas personalizadas</h3>
                        <span>Crea listas para ver series más tarde, series preferidas,...</span>
                    </div>
                </div>
            </div>
            <div class="cajaPC text-center">
                <figure class="figure">
                    <img class="figure-img img-fluid w-50" src="/img/Posible Logo en blanco.png" alt="">
                    <span class="text-white">All You See</span>
                </figure>
            </div>
        </main>
    </body>
</html>