<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/program/description.css">
    <title th:text="'AYS - ' + ${film.name}"></title>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js">
    </script>
</head>
<body>
<main layout:fragment="main-content">

    <div class="d-flex my-4 flex-wrap">
        <h3 class="text-light"
                th:text="${film.name}"></h3>
        <div class="col-12 text-center">
            <video id="playerVideo" controls>
                <source src="" type="video/mp4">
            </video>
        </div>
    </div>


    <div id="recommendedPrograms"
         th:if="${not #lists.isEmpty(recommendedFilm)}">
        <h3 class="text-light">Recomendaciones</h3>
        <div class="episodeContainer row row-cols-1 d-flex">
            <div th:each="filmRecommended : ${recommendedFilm}" class="cardEpisode">
                <a class="linkEpisode keepWatchingProgram text-decoration-none"
                   th:href="@{/user/v/film/{idFilm}/player(idFilm=${filmRecommended.id})}">
                    <div class="boxImgEpisode position-relative">
                        <figure class="imgEpisode figure m-0 w-100">
                            <img class="figure-img w-100" th:src="@{/media/img/{filmName}/{imgFilm}(filmName=${filmRecommended.name}, imgFilm=${filmRecommended.img})}" th:alt="${filmRecommended.name}">
                        </figure>
                    </div>
                    <div class="textLinkEpisode">
                        <h3 th:text="${filmRecommended.name}"></h3>
                        <p th:text="${filmRecommended.description}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {

            var ruta = "/media/video/"
            var filmName = [[${film.name}]];
            var filmUrl = [[${film.url}]];

            $("#playerVideo").attr("src", ruta + filmName + "/" + filmUrl);


            var video = $('#playerVideo')[0];
            var videoDuration;
            var filmActualTime = [[${filmActualTime}]];
            var lastSentTime = -1;
            var isPutActualTime = false;

            // Log video duration when metadata is loaded
            video.addEventListener('loadedmetadata', function() {
                videoDuration = Math.trunc(video.duration);
            });

            // Log current time periodically while the video is playing
            video.addEventListener('timeupdate', function() {
                if (filmActualTime !== null) {
                    if (!isPutActualTime) {
                        video.currentTime = filmActualTime;
                        isPutActualTime = true;
                    }

                }
                // Guarda cada 5 sec
                if (Math.floor(video.currentTime) % 5 === 0 &&
                    video.currentTime > 1 &&
                    Math.floor(video.currentTime) !== lastSentTime) {
                    lastSentTime = Math.floor(video.currentTime);
                    console.log('Current Time: ' + Math.floor(video.currentTime) + ' seconds');
                    var percentage = (video.currentTime / videoDuration) * 100;
                    console.log(Math.trunc(percentage) + "%");


                    var idFilm = /*[[${film.id}]]*/;
                    var currentTime = Math.trunc(video.currentTime);
                    var url = "/v/film/" + idFilm + "/" + currentTime;
                    console.log('AJAX URL:', url); // Depura la URL generada

                    $.ajax({
                        type: "POST",
                        url: "/user/v/film/" + idFilm + "/" + currentTime,
                        success: function(response) {

                        },
                        error: function(xhr, status, error) {

                        }
                    });
                }
                if (Math.floor(video.currentTime) == videoDuration) {
                    console.log('Peli Finalizada:', url); // Depura la URL generada

                    var idFilm = /*[[${film.id}]]*/;

                    $.ajax({
                        type: "POST",
                        url: "/user/v/film/" + idFilm + "/watchedFilm",
                        success: function(response) {},
                        error: function(xhr, status, error) {}
                    });
                }
            });

        });

    </script>
</main>
</body>
</html>