<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/program/description.css">
    <title th:text="'AYS - ' + ${serie.name}"></title>
    <script src="/script/aksVideoPlayer.js"></script>
</head>
<body>
<main layout:fragment="main-content">

    <div class="d-flex my-4 flex-wrap">
        <div class="col-12 text-center">
            <div id="playerVideo"></div>
        </div>

        <div class="col-12 mt-3 d-flex justify-content-evenly justify-content-xl-center">
            <a type="button" class="btn btn-primary-ays mx-xl-2"
               aria-label="Anterior Episodio"
               th:if="${isBefore}"
               th:href="@{/user/v/serie/{idSerie}/{seasonNumber}/{chapterNumber}/player/false(idSerie=${serie.id}, chapterNumber=${chapter.number-1}, seasonNumber=${seasonChoose.number})}"><i class="bi bi-arrow-left"></i> Anterior</a>

            <button type="button" class="btn btn-primary-ays mx-xl-2" id="btnListEpisodes"
                    aria-label="Lista de episodios"><i class="bi bi-list"></i></button>

            <a type="button" class="btn btn-primary-ays mx-xl-2"
               aria-label="Siguiente Episodio"
               th:if="${isNext}"
               th:href="@{/user/v/serie/{idSerie}/{seasonNumber}/{chapterNumber}/player/false(idSerie=${serie.id}, chapterNumber=${chapter.number+1}, seasonNumber=${seasonChoose.number})}">Siguiente <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>




    <div id="serieContainer">
        <div class="serieBox">
            <div class="seasonBox my-3">
                <ul class="nav nav-underline row row-cols-1 d-flex">
                    <li th:each="season : ${serie.seasons}" class="nav-item">
                        <a class="nav-link link-light" href="#"
                           th:classappend="${seasonChoose.number} == ${season.number} ? active"
                           th:text="'Temporada '+ ${season.number}"
                           th:attr="data-season-number=${season.number}"></a>
                    </li>
                </ul>
            </div>
            <div class="episodeBox">
                <div class="episodeContainer row row-cols-1 d-flex">
                    <div th:each="chapter : ${listChapters}" class="cardEpisode"
                         th:classappend="${chapterNumber} == ${chapter.number} ? episodeSelected">
                        <a class="linkEpisode keepWatchingProgram text-decoration-none"
                           th:href="@{/user/v/serie/{idSerie}/{seasonNumber}/{chapterNumber}/player/false(idSerie=${serie.id}, chapterNumber=${chapter.number}, seasonNumber=${seasonChoose.number})}">
                            <div class="boxImgEpisode position-relative">
                                <figure class="imgEpisode figure m-0 w-100">
                                    <img class="figure-img w-100" th:src="@{${chapter.img}}" th:alt="${chapter.name}">
                                </figure>
                                <!-- Controlar con javascript/jquery -->
                                <div class="progress progressEpisode position-absolute" role="progressbar"
                                     aria-label="Tiempo Visto" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar bg-info" style="width: 10%">1:36</div>
                                    <div class="progressLimit" th:text="${chapter.duration}"></div>
                                </div>
                            </div>
                            <div class="textLinkEpisode">
                                <h3 th:text="${'T' + seasonChoose.number + ':E' + chapter.number + ' - ' + chapter.name}"></h3>
                                <p th:text="${chapter.synopsis}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            var isShowSeasons = [(${showSeasons})];
            if (isShowSeasons) {
                $("#serieContainer").hide();
            }

            $("#btnListEpisodes").on("click", function() {
                $("#serieContainer").slideToggle();
            });

            $("#serieContainer").on("click", ".nav-link", function (e) {
                e.preventDefault();
                var seasonNumber = $(this).data("season-number");
                loadEpisodes(seasonNumber);
            });

        });

        function loadEpisodes(seasonNumber) {
            var idSerie = [(${serie.id})];
            $.ajax({
                type: "GET",
                url: "/user/v/serie/" + idSerie + "/" + seasonNumber + "/player",
                success: function (data) {
                    $("#serieContainer").html(data);
                },
                error: function (error) {
                    console.log("Error al cargar episodios: " + error);
                }
            });
        }

    </script>
</main>
</body>
</html>