<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/program/description.css">
    <title th:text="'AYS - ' + ${film.name}"></title>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js">
    </script>
</head>
<body>
<main layout:fragment="main-content">

    <div class="d-flex my-4 flex-wrap">
        <h3 class="text-light"
                th:text="${film.name}"></h3>
        <div class="col-12 text-center">
            <video id="playerVideo" controls>
                <source src="" type="video/mp4">
            </video>
        </div>
    </div>


    <div id="recommendedPrograms"
         th:if="${not #lists.isEmpty(recommendedFilm)}">
        <h3 class="text-light">Recomendaciones</h3>
        <div class="episodeContainer row row-cols-1 d-flex">
            <div th:each="filmRecommended : ${recommendedFilm}" class="cardEpisode">
                <a class="linkEpisode keepWatchingProgram text-decoration-none"
                   th:href="@{/user/v/film/{idFilm}/player(idFilm=${filmRecommended.id})}">
                    <div class="boxImgEpisode position-relative">
                        <figure class="imgEpisode figure m-0 w-100">
                            <img class="figure-img w-100" th:src="@{/media/img/{filmName}/{imgFilm}(filmName=${filmRecommended.name}, imgFilm=${filmRecommended.img})}" th:alt="${filmRecommended.name}">
                        </figure>
                    </div>
                    <div class="textLinkEpisode">
                        <h3 th:text="${filmRecommended.name}"></h3>
                        <p th:text="${filmRecommended.description}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {

            var ruta = "/media/video/"
            var filmName = [[${film.name}]];
            var filmUrl = [[${film.url}]];

            $("#playerVideo").attr("src", ruta + filmName + "/" + filmUrl);

        });

    </script>
</main>
</body>
</html>