<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <main layout:fragment="main-content">
            <h2>Recomendaciones</h2>
            <div th:each="series : ${recommendedSeries}">
                <p th:text="${series.name}" />
            </div>

            <div th:each="films : ${recommendedFilms}">
                <p th:text="${films.name}" />
            </div>

        </main>
    </body>
</html>