<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/program/description.css">
    <title th:text="'AYS - ' + ${serie.name}"></title>
</head>
<body>
<main layout:fragment="main-content">
    <nav style="--bs-breadcrumb-divider: '>';" id="breadcrumbNoPrint" aria-label="breadcrumb" class="text-white">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="linkBreadcrumb" href="/user/v/principal/content" aria-label="Inicio" title="Inicio">Inicio</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="linkBreadcrumb" href="/user/v/series" aria-label="Todas las Series" title="Series">Series</a>
            </li>
            <li th:text="${serie.name}" class="breadcrumb-item active text-light" aria-current="page"></li>
        </ol>
    </nav>

    <div id="descriptionContainer">
        <div class="descriptionBox text-white d-flex m-auto">
            <figure class="imgDescription figure m-0">
                <img class="figure-img img-fluid"
                     th:src="@{/media/img/{serieName}/{imgSerie}(serieName=${serie.name}, imgSerie=${serie.img})}">
            </figure>
            <div class="descriptionInfo">
                <h2 class="border-bottom h3" th:text="${serie.name}"></h2>
                <a id="btnLikeProgram" href=""
                   th:classappend="${!isLiked} ? text-danger">
                    <span th:if="${isLiked}" class="text-danger">
                       <i class="bi bi-heart-fill"></i>
                    </span>
                    <span th:if="${!isLiked}" class="text-light">
                         <i class="bi bi-heart"></i>
                    </span>
                </a>
                <div class="textDescription">
                    <p class="mb-3">Género:
                        <span th:each="genre, actualGenre : ${serie.genres}">
                            <span th:text="${genre.name}"></span>
                            <span th:if="${!actualGenre.last}">, </span>
                        <!-- Agregar coma si no es el último género -->
                        </span>
                    </p>
                    <p th:text="${serie.description}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="logoPrint text-center">
        <figure class="figure">
            <img class="figure-img img-fluid" src="/img/LogoNegro.png" alt="Logo">
        </figure>
    </div>

    <div id="serieContainer">
        <div class="serieBox">
            <div class="seasonBox my-3">
                <ul class="nav nav-underline row row-cols-1 d-flex">
                    <li th:each="season : ${serie.seasons}" class="nav-item">
                        <a class="nav-link link-light" href="#"
                           th:classappend="${seasonChoose.number} == ${season.number} ? active"
                           th:text="'Temporada '+ ${season.number}"
                           th:attr="data-season-number=${season.number}"></a>
                    </li>
                </ul>
            </div>
            <div class="episodeBox">
                <div class="episodeContainer row row-cols-1 d-flex">
                    <div th:each="chapter : ${listChapters}" class="cardEpisode">
                        <a class="linkEpisode keepWatchingProgram text-decoration-none"
                           th:href="@{/user/v/serie/{idSerie}/{seasonNumber}/{chapterNumber}/player(idSerie=${serie.id}, chapterNumber=${chapter.number}, seasonNumber=${seasonChoose.number})}">
                            <div class="boxImgEpisode position-relative">
                                <figure class="imgEpisode figure m-0 w-100">
                                    <img class="figure-img w-100" th:src="@{${chapter.img}}" th:alt="${chapter.name}">
                                </figure>
                                <!-- Controlar con javascript/jquery -->
                                <div class="progress progressEpisode position-absolute" role="progressbar"
                                     aria-label="Tiempo Visto" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar bg-info" style="width: 10%">1:36</div>
                                    <div class="progressLimit" th:text="${chapter.duration}"></div>
                                </div>
                            </div>
                            <div class="textLinkEpisode">
                                <h3 th:text="${'T' + seasonChoose.number + ':E' + chapter.number + ' - ' + chapter.name}"></h3>
                                <p th:text="${chapter.synopsis}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#serieContainer").on("click", ".nav-link", function (e) {
                e.preventDefault();
                var seasonNumber = $(this).data("season-number");
                loadEpisodes(seasonNumber);
            });

            $("#descriptionContainer").on("click", "#btnLikeProgram", function (e) {
                e.preventDefault();
                var isLikedSerie = $("#btnLikeProgram").hasClass("text-danger");
                console.log(isLikedSerie);
                loadLiked(isLikedSerie);
            });
        });

        function loadEpisodes(seasonNumber) {
            var idSerie = [(${serie.id})];
            $.ajax({
                type: "GET",
                url: "/user/v/serie/" + idSerie + "/description/" + seasonNumber,
                success: function (data) {
                    $("#serieContainer").html(data);
                },
                error: function (error) {
                    console.log("Error al cargar episodios: " + error);
                }
            });
        }

        function loadLiked(isLiked) {
            var idSerie = [(${serie.id})];
            $.ajax({
                type: "GET",
                url: "/user/v/serie/" + idSerie + "/description/showLike/" + isLiked,
                success: function (data) {
                    $("#descriptionContainer").html(data);
                },
                error: function (error) {
                    console.log("Error al cargar el 'le gusta': " + error);
                }
            });
        }


    </script>
</main>
</body>
</html>
