/*
 * ***********
 * VARIABLES *
 * ***********
 */

:root {
    --main-primary-color: black;
    --main-secondary-color: white;
    --main-third-color: rgb(48, 241, 255);
    --main-fourth-color: --bs-dark-rgb;
    --main-fifth-color: rgb(14, 75, 80);
}

/*
 * **********
 * HEADER ***
 * **********
 */
header a, header nav .nav-link {
    color:  white;
    transition: all 0.5s;
}

    header a:hover, header nav .nav-link:hover, .nav-link:focus {
        color: rgb(48, 241, 255);
    }

        .logoHeader img {
            width: 130px;
        }

    /*header nav div a div {
        padding: 50px 65px;
        position: relative;
    }*/

    /* Todo esto (imgLogo,imgLogoHover) es para cambiar el logo con el hover */
    .cajaImagen {
        /* width: 150px;
        height: 106px; */
        padding: 46px 65px;
        position: relative;
    }

        .imgLogo,
        .imgLogoHover {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.5s ease;
        }

        .imgLogo {
            background-image: url("/img/Logo.png");
        }

        .imgLogoHover {
            opacity: 0;
            background-image: url("/img/LogoHover.png");
        }

        .logoHeader:hover .imgLogoHover {
            opacity: 1;
        }

        /* .btnHeader { */
        .btnLogin {
            width: 50px;
            color: white;
            border-radius: 50px;
        }

            .btnLogin img {
                width: 100%;
                height: 41px;
                /* max-width: 34px;
                max-height: 46px; */
            }

            .btnLogin figure {
                width: 49px;
                border: 1px solid white;
                border-radius: 20px;
                --bs-btn-color: white;
                --bs-btn-border-color: white;
                --bs-btn-hover-color: rgb(48, 241, 255);
                --bs-btn-hover-bg: none;
                --bs-btn-hover-border-color: rgb(48, 241, 255);
                transition: all 0.5s;
                --bs-btn-active-color: rgb(48, 241, 255);
                /* Me falta el click */
            }

                .btnLogin figure:hover {
                    border-color: rgb(48, 241, 255);
                }

            .dropdown button::after {
                border: none;
            }

            .dropdownLogin {
                --bs-dropdown-min-width: 8rem;
                --bs-dropdown-link-hover-bg: rgb(179, 179, 179);
                --bs-dropdown-link-active-color: rgb(48, 241, 255);
                --bs-dropdown-link-active-bg: rgba(var(--bs-dark-rgb));
                animation-name: animationMenu;
                animation-duration: 0.3s;
            }

                .dropdownLogin[data-bs-popper] {
                    left: -2.5rem;
                    transition: all 1s;
                }

            /* ANIMATION */
            @keyframes animationMenu {
                0% {
                    transform: translateY(-1rem);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0rem);
                    opacity: 1;
                }
            }

/*
 * **********
 * BODY *****
 * **********
 */

body {
    min-width: 506px;
    background-color: black;
}

/*
 * **********
 * FOOTER ***
 * **********
 */

footer {
    background-color: rgb(14, 75, 80);
    padding-top: 1%;
}

.enlacesFooter {
    color: white;
    transition: all 0.5s;
}

    .enlacesFooter:hover {
        color: rgb(48, 241, 255);
        text-decoration: underline;
    }


/*
 * **********
 * BOTONES **
 * **********
 */

.btn-primary-ays {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: rgb(48, 241, 255);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: rgb(48, 241, 255);
    --bs-btn-active-color: rgb(48, 241, 255);
    transition: all 0.5s;
    /* Me falta el click */
}